[run]
source = src/html_rag
omit = 
    */tests/*
    */test_*
    */__init__.py
    */conftest.py
    */migrations/*
    */venv/*
    */virtualenv/*
    */.tox/*
    */build/*
    */dist/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    # Type checking imports
    if TYPE_CHECKING:
    if typing.TYPE_CHECKING:

[html]
directory = htmlcov

[xml]
output = coverage.xml